body {
  background-color: #151527;
  margin: 0;
	overflow-x: hidden;
}

h1 {
  font-size: 350%;
  font-family: Impact;
  letter-spacing: 1.5px;
  color: #d53590;
}

h2 {
  color: white;
  letter-spacing: 1px;
  font-family: 'Libre Baskerville', serif;
}

h3 {
  color: white;
  font-family: 'Source Serif Pro', serif; 
}

h4 {
  font-family: 'Source Serif Pro', serif; 
  letter-spacing: 1px;
  font-style: italic;
  font-weight: 500;
}

name {
  font-size: 130%;
  font-family: Impact;
  letter-spacing: 1.5px;
  color: #cdd9e4;
  vertical-align:top
}
a.name {
  color: #cdd9e4;
}
a.name:link {
  text-decoration: none;
  color: #cdd9e4;
}
a.name:visited {
  text-decoration: none;
  color: #cdd9e4;
}
a.name:hover {
  text-decoration: none;
  color: #cdd9e4;
  opacity: 30%;
}
a.name:active {
  text-decoration: none;
  color: #d53590;
  opacity: 60%;
}

.homepage-background{
  background-color: #151527;
	height: 100vh;
	width: 100vw;
	/* position: relative;  */
	background-size: cover;
	background-position: 50% 50%;
  width:100%;
}

/*
 Id can be used to identify one element
 #id - selects the  element with the corresponding id name
 In this example, we are selecting the element with the id name “para1” by
 specifying #para1 in our css
*/

#test {
  color: yellow;
  text-align: center; /* alignment of text */
  font-style: bold;
  font-family: monospace;
  letter-spacing: 0px;
}

/*
 Using the class selector with CSS allows us to style a class of items in css
 .center identifies all the HTML elements that have a class name of “center” and
 will style all the elements with these class names
 Class selectors are good to use when there are HTML elements that you want to
 have consistent styling
*/

.text-middle{
    /* height: 200px;
    width: 800px; 
    background: black; */
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    width:100%;
    height:auto;
}

a.homepage {
  color: #d53590;
}
a.homepage:link {
  text-decoration: none;
  color: #d53590;
}
a.homepage:visited {
  text-decoration: none;
  color: #d53590;
}
a.homepage:hover {
  text-decoration: none;
  color: #d53590;
  opacity: 30%;
}
a.homepage:active {
  text-decoration: none;
  color: #cdd9e4;
  opacity: 60%;
}

/*

// PREVIOUS LAYOUT.

.nyancat {
  width: 500px;
  height: 200px;
  background-image:url('../portfolio/nyan-cat.png'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%
}

.nyancat:hover {
	background-size: 50%
}

 .background-image {
  background-image:  url('../portfolio/');
	height: 100vh;
	width: 100vw;
	position: relative;
	background-size: cover;
	background-position: 50% 50%;
} 

.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.432);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.facts {
  border: 1px outset silver;
  color: pink;
  padding: 5px;
}

.about {
  font-style: italic;
  color: silver;
  padding: 1px;
}
*/


/* 

Notes:

CSS (Cascading Style Sheets) files add styling rules to your content 

CSS is a language that is used to style a web page, describes how HTML elements are
displayed on the screen. CSS can be used to control the layout of multiple
elements on multiple web pages and defines the style for your web page including the
design, layout and variations in displays for different devices and screen sizes.

css references:
https://www.w3schools.com/cssref/default.asp
css selectors:
https://www.w3schools.com/cssref/css_selectors.asp

When wanting to style all elements of a certain type, indicate
the element name in the CSS and add CSS properties to style specific 
types of elements 
Good to use when you want to style all elements of your page in a certain way 

Divs allow you to style a collection of items with the same class name
In the example we style all the elements in the
div with the class name “myDiv”
Using divs to style with CSS is good for styling a variety of elements
Divs are a container for your elements in HTML 

*/
