body {
  font-family: "Helvetica Neue", helvetica, Verdana; /* this property specifies the group of fonts for text */
  margin: 2em;
  background-color: #030303; /* specifies background color of elements */
  color: #D2D2D2; /* sets the color of text */
  font-size: 16px; /* font size of the text */
  padding: 2px; /* adds “padding” to an element - provides spacing around element */
  font-weight: 300;
  font-variant-ligatures: normal;
  width: auto;
}

name {
  font-family: Impact;
  letter-spacing: 1.5px;
}

h1 {
  font-family: sans-serif;
  color: #B7F2FF;
  letter-spacing: 1px;
}

h2 {
  color: white;
  letter-spacing: 1px;
}

h0 {
  font-family: Optima;
  letter-spacing: 1px;
  font-style: italic;
  font-weight: 500;
}

/*Id can be used to identify one element
#id - selects the  element with the corresponding id name
In this example, we are selecting the element with the id name “para1” by
specifying #para1 in our css */

#test {
  color: yellow;
  text-align: center; /* alignment of text */
  font-style: bold;
  font-family: monospace;
  letter-spacing: 0px;
}

/* Using the class selector with CSS allows us to style a class of items in css
.center identifies all the HTML elements that have a class name of “center” and
will style all the elements with these class names
Class selectors are good to use when there are HTML elements that you want to
have consistent styling */

.facts {
  border: 1px outset silver;
  color: pink;
  padding: 5px;
}

.about {
  font-style: italic;
  color: silver;
  padding: 1px;
}