body{
  font-family: 'Noto Sans', sans-serif; 
  background-color: #151527;
  margin: 0;
	overflow-x: hidden;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;
}

h1 {
  font-size: 350%;
  font-family: Impact;
  letter-spacing: 1.5px;
  color: #d53590;
}

h2 {
  color: white;
  letter-spacing: 1px;
  font-family: 'Catamaran', sans-serif;
}

h3 {
  color: white;
  font-family: 'Noto Sans', sans-serif; 
}

h4 {
  font-family: 'VT323', monospace;
  letter-spacing: 1px;
  font-style: italic;
  font-weight: 500;
}


name {
  font-size: 140%;
  margin-left: 1%;
  margin-top: 0.5%;
  font-family: Impact;
  letter-spacing: 1.5px;
  color: #cdd9e4;
  vertical-align:top
}
a.name {
  color: #cdd9e4;
}
a.name:link {
  text-decoration: none;
  color: #cdd9e4;
}
a.name:visited {
  text-decoration: none;
  color: #cdd9e4;
}
a.name:hover {
  text-decoration: none;
  color: #93e2f2;
  opacity: 100%;
}
a.name:active {
  text-decoration: none;
  color: #d53590;
  opacity: 60%;
}

#carousel {
  width: 100%;
  overflow: visible;
  /* IF NEED TO SCROLL INSIDE PHOTO
  overflow: auto */
  white-space:nowrap;
}

#carousel.slide {
  display: inline-block;
  /* max-width: 100%;
  width: 100%; */
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}